* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media ($M) {
    padding: 0;
    width: 640px;
  }

  @media ($L) {
    width: 880px;
  }

  @media ($XL) {
    width: 1120px;
  }

  @media ($XXL) {
    width: 1360px;
  }
}